<!-- This page can be deleted bc we are not using it!
Instead of being directed here when the now_following actions is called (after user clicks "follow" from user_show page),
we re-directed the user back to the user_show page. This is bc we don't want to leave the page just bc the
user chose to follow someone.  -->


<!-- <h1>Epicenter#now_following</h1>
<p>Find me in app/views/epicenter/now_following.html.erb</p> -->
